body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

#inputForm {
    margin-bottom: 20px;
}

#result {
    font-weight: bold;
    font-size: 18px;
}

#counter {
    margin: 20px;
}

#count {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

button:hover {
    background-color: red;
}